body{
  font-family:sans-serif;

}

hr {
color: black;
}

/* HEADER */ 
header{
  text-align: center;
  vertical-align: middle;
  height: 200px;
  width: 100vw;
  margin-top: 20px;
  line-height: 1rem;
}

.text-size{
  font-size: 1.5rem;
}

/* WELCOME SECTION */
.welcome--section{
text-align: center;
height: 300px;
}

table{
  width: 100vw;
  text-align: left;
}


/* LATEST MESSAGE SECTION */

.latest--message{
display: flex;
justify-content: space-between;
padding: 5rem 0;
}

.latest--video{
width: 50vw;
margin: auto;
}
.video--details{
  width: 50vw;
  line-height: 3rem;
  margin: 1rem;
}

/* CONTACT DETAILS */

.contact--details{
text-align: center;
padding: 10rem 3rem;
}

/* FOOTER */

.footer{
text-align: center;
}


/* MEDIA QUERY */
@media (max-width:800px){
  .latest--message{
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 0 0 5rem 0;
    
  }

  .latest--video{
 margin: 2rem;
  }


  .video--details{
    padding: 2rem;
    margin: 0;
  }

  .text-size{
    font-size: 1rem;
  }

  .contact--details{
    padding: 2rem;
  }

  /* FOOTER */
  .footer{
    font-size: 0.7rem;
  }
}
